.project
*.o
*.so
CORE
SOM++
.cproject
language.settings.xml
*.a
*.d
omrsig.map
omrsig.exp
*.so.dbg
omrsig.exportlist
*.sentinel
zg*
omr32/hookgen
omr32/tracegen
omr32/tracemerge
Smalltalk/SOMCore.csp
somr
